* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

body {
    background-image: url('../images/bg-purple.png');
    background-size: 40%;
    transition: 1s;
}

#root {
    --color-blue-primary: #a5c1f6;
    --color-blue-lumitrhough: #a5c1f6a1;
    --color-red-primary: #b83434;
    --color-red-lumitrhough: #b83434a8;
    --color-purple-primary: #8a347c;
    --color-purple-lumitrhough: #570c6ab2;
}

.hidden {
    visibility: hidden;
}